# Data manipulation
pandas==1.5.3
numpy==1.23.5

# Natural Language Processing
nltk==3.8.1
scikit-learn==1.2.2

# Visualization
matplotlib==3.7.2
seaborn==0.12.2

# Jupyter Notebook (if using Jupyter)
jupyter==1.0.0
